.text-center {
    text-align: center !important;
}
.preco {
    font-size: 14px;
}
.precopromo {
    font-size: 20px;
}
.negrito {
    font-weight: bold !important;
}
.nome-parceiro {
    font-size: 18px !important;
}
#validade {
    font-size: 11px;
    text-align: center;
    padding-top: 20px;
}
#preco {
    text-decoration: line-through;
}