// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
    background-color: #6A1B9A;
}

/* Altera a cor do titulo do menu para branca */
.toolbar-title {
    color: rgb(255, 255, 255)
}

/* Altera a cor do botao voltar do menu para branca */
.bar-button-default-md {
    color: rgb(255, 255, 255) 
}

/* Altera a cor do botao voltar do menu para branca */
.bar-button-default-ios {
    color: rgb(255, 255, 255) 
}

.bar-button-default-wp {
    color: rgb(255, 255, 255)  
}

ion-item {
    padding-left: 0px !important;
}

@font-face{
    font-family: Exo2;
    src: url('../assets/fonts/Exo2.woff2');
}

*{
    font-family: Exo2;
}